tmp*
*.so
*.DS_Store
*.gir
*.typelib
*.bin
*.o
*.lo
*.so
build/
\#*
*-resource.c
*-resource.h
__pycache__

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

config.h
graphene-panel.desktop
graphene-wm.desktop