bin/
tmp*
*.so
*.DS_Store
*.gir
*.typelib
*.bin
*.o
*.lo
out/
obj/
\#*
*-resource.c
*-resource.h
__pycache__
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
config.log