[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Graphene Panel
Comment=The Panel/Taskbar of Graphene, VeltOS's default desktop environment.
Exec=/usr/share/graphene/graphene-panel
NoDisplay=true
X-GNOME-Autostart-Phase=Panel
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
OnlyShowIn=Graphene;